/* Show it is fixed to the top 
-------------------------------------------------- */
body {
  min-height: 75rem;
  padding-top: 2rem;
}

/* Dashboard */
.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }

.lh-100 { line-height: 1; }

/* Posts */

.posts-body {
    padding: 0.5rem;
}

/* Image */
.img-fix {
    max-width: 100%;
    height: auto;
}

.img-container {
    width: 285px;
    min-height: 200px;
    max-height: auto;
    float: left;
    margin: 3px;
    padding: 3px;
}

.img-fix-show {
    max-width: 100%;
    height: auto;  
}

.img-container-show {
    width: 800px;
    min-height: 300px;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}